
body{
    font-size: 0.12rem;
    margin: 0;padding: 0;
    height: 100%;
}
html,#app{
    height: 100%;
}
*{
    box-sizing:border-box; 
}
ul,li,h5,h4,h3,p{
    margin: 0;padding: 0;
    list-style: none; 
}

a{
    text-decoration: none;
    color: #333;
    border:none;
}

img{
    border:0;
    width:100%;
    height:100%;
}

i,em{
    font-style: normal;
}
fieldset{
    border:none;
    -webkit-tap-height-color:rgba(0,0,0,0);
}

clearfix::after{
    content:"";
    height:0;
    overflow: hidden;
    visibility: none;
    clear:both;
    display:block;
}